.form-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form-error {
    margin-left: 40%;
    color: red;
    text-decoration: solid;
}

.form-success {
    margin-left: 40%;
    color: rgb(0, 190, 0);
    text-decoration: solid;
}

#pop-up-container {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.pop-up {
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    background-color: #11191F;
    color: lightblue;
    width: auto;
}

.center-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.tools-buttons {
    display: flex;
    gap: 2%;
}

table .car-img-cell{
    min-width: 200px;
}

table td {
    max-width: 200px;
    font-size: medium;
}

.btn-small {
    padding: 5px 5px;
    font-size: 15px;
}

.error {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightcoral;
    text-align: center;
    color: brown;
}
